<h1>Dashboard#requested</h1>
<p>Find me in app/views/dashboard/index.html.erb</p>

<ul class="nav nav-pills">
  <li><%= link_to "Stuff I'm giving away", dashboard_listed_path %></li>
  <li class="active"><%= link_to "Stuff I've asked for", dashboard_requested_path %></li>
  <li><a href="#">Messages</a></li>
</ul>

<br>
<div id="dashboard-inner">

<p> item </p>
<p> item </p>
<p> item </p>
</div>