<html>
<head>
  <title>Browse</title>

  <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css">
 <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/browser.css">

  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
  <script src="../../assets/javascripts/browser.js"></script>
  <script src="../../assets/javascripts/knockout-3.2.0.js"></script>
  
</head>
<body>
<div class="searchPane">
	<p>Filter: <input data-bind="value: filter, valueUpdate: 'afterkeydown'" /></p>
</div>

<div class="categoryPane">
	<div data-bind="visible: CategoryChoice">
    Choose a category of gift:
  <!--   <div><input type="checkbox" name="Category" value="Edible" data-bind="checked: giftEdible" /> Edible</div>
    <div><input type="checkbox" name="Category" value="Wearable" data-bind="checked: giftWearable" /> Wearable</div>
    <div><input type="checkbox" name="Category" value="Useable" data-bind="checked: giftUseable" /> Useable</div> -->
	</div>

</div>


  <div class="browsePane" >
  	<div data-bind="foreach: filteredgifts">
  		<div  class="accordion" >
  			<div class="giftHead" data-bind=" text: title"> 
  			</div>
		    <div class="pane">
		    	<p data-bind="text: title"></p>
		    	<p data-bind="text: description"></p>
		    </div>

		</div>
  	</div>
  </div>

</body>
</html>