<html>
<head>
  <title>Browse</title>

  <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css">
 <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/browser.css">

  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
  <script src="../../assets/javascripts/browser.js"></script>
  <script src="../../assets/javascripts/knockout-3.2.0.js"></script>
  
</head>
<body>


  <div class="browsePane" >
  	<div data-bind="foreach: gifts">
  		<div  class="accordion" >
  			<div class="giftHead"  data-bind="text: id">this</div>
    <div class="pane">
    	<p>fgggggdfgbdfgndfndfgn</p>
    </div>
	</div>
  </div>

</body>
</html>