<div class="page-header">

<h2> Browse gifts </h2>


<% @gifts.each do | gift| %>
      <div>
        <a href="/gifts/<%= gift.id %>">
          <%= gift.title %>
        </a>
      </div>
  <% end %>





</div>

