<h1>"GIFTeconomy"</h1>

<div class="page-header">
<h2>Gifts List</h2>


<% @gifts.each do | gift| %>
      <div>
        <a href="/gifts/<%= gift.id %>">
          <%= gift.title %>
        </a>
      </div>
  <% end %>

</div>

