<h1>Browse gifts</h1>
<br>

<div class="container-inner">
  <% @gifts.each do | gift| %>
    <div>
      <a href="/gifts/<%= gift.id %>">
        <strong><%= gift.title %></strong>
        <em><%= gift.description %></em><br>
        </a>
        <div>user name |  <%= link_to time_ago_in_words(gift.created_at) + " ago" , gift %></div>   
        <hr>
      
    </div>
  <% end %>
</div>
