<div class="page-header">

<h2>Gifts List</h2>

<% @gifts.each do | gift| %>
      <div>
        <a href="/gifts/<%= gift.id %>">
          <%= image_tag gift.image.thumb.url %> 
          <%= gift.title %>
        </a>
      </div>
  <% end %>


  <h1> Browse gifts </h1>

</div>

