

<div id="gift-list">
	<h2>Test</h2>
</div>

<div id="gift-details">
	

</div>


<!-- Handlebar template for gift-list -->
<script id="gift-list-item-template" type="text/x-handlebars-template">
  <div>
	  <a href="#" data-gift-id="{{id}}">
	  	{{title}}
	  </a>
  </div>
</script>


<!-- Handlebar template for gift-details-->
<script id="gift-details-template" type="text/x-handlebars-template">
	<div>
	  <h2>
	  	{{title}}
	  </h2>

	  <img src="{{image}}">
  </div>
</script>