
    <style type="text/css">
        html, body, #map-canvas {
            height: 600px;
            width: 1200px;
            margin: 0;
            padding: 0;
        }
    </style>
  
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?v=3.exp">
        
    </script>
    <script type="text/javascript"
            src="../Scripts/APIInteractor.js">
    </script>

    <div id="map-canvas"></div>



