<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <style type="text/css">
        html, body, #map-canvas {
            height: 600px;
            width: 1200px;
            margin: 0;
            padding: 0;
        }
    </style>
    <title></title>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?v=3.exp">
        
    </script>
    <script type="text/javascript"
            src="../Scripts/APIInteractor.js">
    </script>
</head>

<body>
    <div id="map-canvas"></div>

</body>
</html>
