.browsePane{

	background-color: red;
	height: 300px;
}

.accordion {
    margin:1em 0
}
.accordion h3 {
    color:#fff;
    cursor:pointer;
    margin:0;
    padding:4px 10px
}
.accordion h3.current {
    cursor:default
}
.accordion .pane {
	background-color: teal;
    padding:5px 10px;
    font-size: 1.5em;
}

.accordion .giftHead{
background-color: blue;
	font-size: 3em;
}
.accordion .giftHead.current {
	background-color: purple;
    padding:5px 10px;
    font-size: 1.5em;
}