// Place all the styles related to the gifts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding-top: 70px;
}

body{
  font-family: Raleway, Arial, sans-serif;
    font-size:16px;
    font-weight:300;
    color:#6d6d6d;
    overflow-x:hidden;
}

em {
  font-size: 12px;
}

.well {
  background-color: white;
}
.container-inner {
  background: white;
  padding: 20px;
  border-radius:10px;
  min-height: 400px; 
}

.container-inner p {
  font-size: 16px;
}

.container-inner hr{
  border-color: #6D6D6D;
  border-style: dotted;
  margin: 18px 0;
}



// target element with class status and hover.
// Class admin displayed inline (meaning that it should actually be displayed)
// by default, no hover class on gift 
// use JS to add hover to gift. 
// as soon as we add hover class to gift, it will ooverride above rule 
// now making the display inline (instead of display none)

.gift {
  margin: 20px;
}
.gift.hover {
  background: #A0343E;
}


.gift .admin {
  display: none;
}

.gift.hover .admin {
  display: inline;
}


.browsePane{

  background-color: red;
  height: 300px;
}

.accordion {
    margin:1em 0
}
.accordion h3 {
    color:#fff;
    cursor:pointer;
    margin:0;
    padding:4px 10px
}
.accordion h3.current {
    cursor:default
}
.accordion .pane {
  background-color: teal;
    padding:5px 10px;
    font-size: 1.5em;
}

.accordion .giftHead{
background-color: blue;
  font-size: 3em;
}
.accordion .giftHead.current {
  background-color: purple;
    padding:5px 10px;
    font-size: 1.5em;
}
