<!DOCTYPE html>
<html lang="en-US" >
  <head>
    <meta charset="utf-8">
    <title>GIFTe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <h1>Not Landing!</h1>
    <%= yield %>
  </body>
</html>